html,body,#root,.App,#cesiumContainer{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cesium-content{
  width: 100%;
  height: 100%;
}
#cesiumContainerLeft{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
}
#cesiumContainerRight{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: right;
}